<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <title>Provedor</title>
  <link href="https://fonts.googleapis.com/css?family=Exo+2:100|Kanit:200" rel="stylesheet">
 

</head>
<body>

 

 
    
    <div id='app'></div>

    <div class=container>
    <h1>Provedor</h1>

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#añadir">Añadir</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#buscar">Buscar</button>
        <a  class="btn btn-secondary" href='/discador/opcion_clientes'>Todos</a>
        
      </div>

    {% for c in clientes %}


        {{ c.id }}

    {% endfor %}



  </div>
   

    
</body>

<link rel="stylesheet" href="/static/dist/style.bundle.css">


    
<script src="/static/dist/discador.opcion_provedor.js"></script>
</html>