{% extends 'base.html' %}



  {% block content %}



<script type="text/javascript" src="/static/ws4.js"></script>

<script type="text/javascript">

     var ws4redis = WS4Redis({
      uri: '{{ WEBSOCKET_URI }}foobar?subscribe-user',
      receive_message: receiveMessage,
      heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });

    function receiveMessage(msg) {

        console.log(msg.split('-')[0])

          if(msg.split('-')[0]=='llamada'){



              window.location.href = "/colasIN/monitor_agente/"+msg.split('-')[1]+'/0'

      
        }
       

    }


    function nuevaventa(url){


        console.log('{{telefono}}')

        var strWindowFeatures = "location=yes,height=800,width=1300,scrollbars=yes,status=yes";
        var URL = url ;
        var win = window.open(URL+'?telefono_1='+'{{telefono}}', "_blank", strWindowFeatures);


    }


</script>

<style>

    body,th,td{
      font-size:13px;
    }


    .cajita{
      background: #fff;
      padding: 6px;
      color: #234;border:1px solid #234;
      margin-bottom: 10px;
    }

      .discador{
    
        position: fixed;
        top: 5px;
        right: 20px;
        background: #1086fb;
        transition:all .5s;
        height: 250px;
        z-index: 1000;
        width:120px;
        padding-top: 20px;
        border-radius:10px;

       
        color:#fff;
        text-align: center;
        
       
        background: #1086fb;
        transition:all .5s;
        width:140px;
    }
    
      
    

    .discador img{

      width: 40px;

      cursor:pointer;
    }

    .Pausa{

      background: #d62068;
    }

    .Disponible{

      background: #61c766;

    }

    .Gestion{

      background: #dbe045;

    }

   

    .discador:hover .cajita{

    
    border: 1px solid #1086fb;


    }
    
    
    
      
    </style>




<div style='height: 20px'></div>
<div class='container-fluid'>


  <div class='discador {{agente.estado.nombre}}' >


    <img src='/static/callcenter.png'>

    
    
    <h6>{{agente.nombre}} </h6>




  
    
    {% if agente.estado.nombre == 'Pausa' or agente.estado.nombre == 'Disponible' or agente.estado.nombre == 'Gestion'   %}

    <div style="padding:20px;">

      {% if agente.estado.nombre == 'Pausa' %}

      <a class='btn btn-light' href='/colasIN/disponible/{{agente.id}}'>
          Disponible
      </a>

      {% endif %}

       {% if agente.estado.nombre == 'Disponible' %}




        <a class='btn btn-light' href='/colasIN/pausar/{{agente.id}}'>
        Pausar
        </a>

      {% endif %}

       {% if agente.estado.nombre == 'Gestion' %}


        Gestion
        </a>

      {% endif %}

    </div>

     <a class="btn btn-light" href='/comunica7/ingresar'>Salir</a>

      

    {% else %}

    <div style="height:20px;"></div>

    <img src='/static/llamada.png'>
    <br>

    <h6>En Llamada</h6>

   <br>
   <a class='btn btn-light' href='/colasIN/disponible/{{agente.id}}'>
          Disponible
      </a>


  
    
    {% endif %}

    

  </div>


  


    {% if agente.estado.nombre == 'Pausa' or agente.estado.nombre == 'Disponible' or agente.estado.nombre == 'Gestion'   %}

 

    <h6>Estado Actual </h6>
    <h4>{{agente.estado.nombre}}</h4>



          

    {% else %}


    <h5>Llamada entrante...{{telefono}}</h5>



    {% endif %}

  


           <!-- Button trigger modal -->
           

            <div class="btn-group" role="group" aria-label="Basic example">

                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                  Buscar Venta
                </button>
                <a onclick="nuevaventa('/colasIN/dashboard')" target="_blank"  class="btn btn-primary" style='color:#fff;'>Crear Nueva Venta</a>


            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method='GET' action='/colasIN/monitor_agente/0/0'>
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Ingrese Numero</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <input class='form-control' placeholder='Telefono' name='numero'>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <button  type="submit" class="btn btn-primary" >Buscar</button>
                    </div>
    
                    </form>
                </div>
              </div>
            </div>

            {% include "colasIN/gestion.html" %}

            {% if total_llamadas %}

            <h5>Historial de Todas las Ventas</h5>

            <table class="table table-default responsive">
                <thead>
                      <tr>

                      <th scope="col">Nombre</th>
                      <th scope="col">Telefono</th>
                      <th scope="col">DNI</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Modelo</th>

                      <th scope="col">Anio</th>
                      <th scope="col">Placa</th>
                      <th scope="col">Marca Bat.</th>
                      <th scope="col">Modelo Bat.</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Descuento</th>
                      <th scope="col">Direccion</th>
                      <th>Accion</th>
                      <th></th>
                      </tr>
                </thead>
                <tbody>

                {% for c in total_llamadas %}
                        <tr>


                        <td>{{c.cliente }}</td>
                        <td><a style='color:#67da75;' target="_blank" href='https://wa.me/51{{c.telefono_1}}?text=Hola'>{{c.telefono_1 }}</a></td>
                        <td>{{c.dni }}</td>
                        <td>{{c.marca_vehiculo}}</td>
                        <td>{{c.modelo}}</td>

                        <td>{{c.anio}}</td>
                        <td>{{c.placa}}</td>
                        <td>{{c.marca_producto}}</td>
                        <td>{{c.modelo_bateria}}</td>
                        <td>{{c.precio}}</td>
                        <td>{{c.descuento}}</td>
                        <td><a class='btn btn-sm btn-dark' href='https://www.google.com/maps/search/{{c.direccion_atencion}}' target="_blank">Ir</a></td>
                        <td>
                        
                         <a class='btn btn-sm btn-light' onclick="nuevaventa('/colasIN/detalle_venta/{{c.id}}')" target="_blank">Detalle</a>

                        </td>

                        <td>
                         <a class='btn btn-sm btn-light' onclick="nuevaventa('/colasIN/nueva_venta/{{c.id}}')" target="_blank">Nueva Venta</a></td>


                        </tr>

                {% endfor %}

                </tbody>
            </table>

            {% else %}

              <h5>No hay registros para este numero</h5>

            {% endif %}


    </div>

  {% endblock %}