    
      {% if error %}

      <div  class="alert alert-primary animated fadeIn" role="alert">
        {{error}}
      </div>

{% endif %}


<h3></h3>


<style>
th{
  font-size:13px;
}
td{
  font-size:13px;
}

</style>

{% if incidenciaform %}

  <h3>Detalle de Venta</h3>
  
  <form method="POST" class="post-form">

  {% csrf_token %}

  


  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  <div class='row'>
  {% for field in incidenciaform.visible_fields %}

  
  <div class="col-md-2">
        
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
    </div>
  
    {% endfor %}
 
  </div>


    <button type="submit" class="save btn btn-default">Guardar</button>
    <button type="submit" class="save btn btn-default">Limpiar</button>


  </form>

  {% endif %}


  


  {% if ventas %}

  <h5>Historial Total de Incidencias </h5>

  
{{telefono.numero_caso}}
{{telefono.tipo_caso}}
{{telefono.sub_tipo_caso}}
{{telefono.estado_incidencia}}
{{telefono.subestado}}
{{telefono.detalle_lugar}}
{{telefono.fecha_atencion}}
{{telefono.unidad_reportante}}
{{telefono.dispositivo_origen}}
{{telefono.telefono_1}}
{{telefono.zona}}
{{telefono.accion_tomada}}
{{telefono.situacion}}
  
  
 

<table class="table table-default responsive">
    <thead>
      <tr>
      
        <th scope="col">Numero Caso</th>
        <th scope="col">Tipo Caso</th>
        <th scope="col">Sub Tipo Caso</th>
        <th scope="col">Estado</th>
       
        <th scope="col">Subestado</th>
        <th scope="col">Detalles del Lugar</th>
        <th scope="col">Fechas de Notificacion</th>
        <th scope="col">Unidad Reportante</th>
        <th scope="col">Dispositivo Origen</th>
        <th scope="col">Reportante</th>
        <th>Zona</th>
        <th>Accion Tomada</th>
        <th>Situacion</th>
      </tr>
    </thead>
    <tbody>



      {% for c in ventas %}
      <tr>
       
      
        <td>{{c.id }}</td>
        <td>{{c.tipo_caso }}</td>
        <td>{{c.sub_tipo_caso}}</td>
        <td>{{c.estado_incidencia.nombre}}</td>
        <td>{{c.subestado.nombre}}</td>
        
        <td>{{c.detalle_lugar}}</td>
        <td>{{c.fecha_atencion}}</td>
        <td>{{c.unidad_reportante}}</td>
        <td>{{c.dispositivo_origen}}</td>
        <td>{{c.telefono_1}}</td>
        <td>{{c.zona}}</td>
        <td>{{c.accion_tomada}}</td>
        <td>{{c.situacion}}</td>
        <td>
        <div class='row'>
          
        <div class='col-md-6'> <a class='btn btn-sm btn-light' onclick="nuevaventa('/colasIN/detalle_venta/{{c.id}}')" target="_blank">Detalle</a></div>
        <div class='col-md-6'> <a class='btn btn-sm btn-light' onclick="nuevaventa('/colasIN/nueva_venta/{{c.id}}')" target="_blank">Nueva</a></td></div>
       
        
        </div>
      </tr>

      {% endfor %}

    </tbody>
  </table>

  {% else %}

<h5>No hay registros para este numero</h5>
  {% endif %}

      
        
          
         









