


<h3></h3>

<h6>{{telefono}}</h6>

<style>
th{
  font-size:13px;
}
td{
  font-size:13px;
}

</style>



 
 <div style='height:20px'></div>

  {% if ventas %}

  <h5>Resultados de Busqueda</h5>

<table class="table table-default responsive">
    <thead>
      <tr>
      
        <th scope="col">Numero Caso</th>
        <th scope="col">Tipo Caso</th>
        <th scope="col">Sub Tipo Caso</th>
        <th scope="col">Estado</th>
       
        <th scope="col">Subestado</th>
        <th scope="col">Detalles del Lugar</th>
        <th scope="col">Fechas de Notificacion</th>
        <th scope="col">Unidad Reportante</th>
        <th scope="col">Dispositivo Origen</th>
        <th scope="col">Reportante</th>
        <th>Zona</th>
        <th>Accion Tomada</th>
        <th>Situacion</th>
      </tr>
    </thead>
    <tbody>



      {% for c in ventas %}
      <tr>
       
      
        <td>{{c.numero_caso }}</td>
        <td>{{c.tipo_caso }}</td>
        <td>{{c.sub_tipo_caso}}</td>
        <td>{{c.estado.nombre}}</td>
        <td>{{c.subestado}}</td>
        
        <td>{{c.detalle_lugar}}</td>
        <td>{{c.fecha}}</td>
        <td>{{c.unidad_reportante}}</td>
        <td>{{c.dispositivo_origen}}</td>
        <td>{{c.telefono_1}}</td>
        <td>{{c.zona}}</td>
        <td>{{c.accion_tomada}}</td>
        <td>{{c.situacion}}</td>
        <td>
        <div class='row'>
          
        <div class='col-md-6'> <a class='btn btn-sm btn-light' onclick="nuevaventa('/colasIN/detalle_venta/{{c.id}}')" target="_blank">Detalle</a></div>
        <div class='col-md-6'> <a class='btn btn-sm btn-light' onclick="nuevaventa('/colasIN/nueva_venta/{{c.id}}')" target="_blank">Nueva</a></td></div>
       
        
        </div>
      </tr>

      {% endfor %}

    </tbody>
  </table>

  {% else %}

<h5>No hay registros para este numero</h5>
  {% endif %}

      
        
          
         









